<main>
  <section class="content">
    <header>
      <h1 class="star"></h1>
      <span class="fa fa-star checked"></span>
    </header>
    <form>
      <div id="inputs">
        <input
          type="number"
          [placeholder]="
            validationError ? 'Please enter both numbers' : 'Type a number'
          "
          [(ngModel)]="n1"
          name="number1 "
        />
        <input
          type="number"
          placeholder="{{
            validationError ? 'Please enter both numbers' : 'Type a number'
          }}"
          [(ngModel)]="n2"
          name="number2"
        />
      </div>
      <div id="buttons">
        <button (click)="inputReset(); calculator(1)">Add</button>
        <button (click)="inputReset(); calculator(2)">Substract</button>
        <button (click)="inputReset(); calculator(3)">Multiply</button>
        <button (click)="inputReset(); calculator(4)">Divide</button>
      </div>

      <p>Result: <br />{{ sum }}</p>
    </form>
  </section>
</main>
